<!--this is below the main-layout.ejs header-->
<div>
  <h1> Welcome to <%= title %>. </h1>
  <h1>  <%= isUserLoggedIn %> </h1>

  <!--Lines 6-11: An if statement displays a message for logged in users.-->
  <br>
    <% if (isUserLoggedIn) { %>
    <p class="welcome"> Hello, <%= currentUserInfo.name %>. Welcome 🤗</p>
    <br>
    <% } else { %>
      <p class="welcome"> Post all the Funny Cat Images you can find in one spot!<br>Lets laugh together😂</p>
      <br>
      <img src=" /images/glasses gif.gif">
      <% } %>
</div>

<!---------------------Post to view on page--------------->
<%if(typeof post !== 'undefined'){%>
  <%post.forEach((onePost)=>{%>

    <div class="box">
      <div class="col-xs-6 col-md-4">
        <a href="/<%=onePost._id%>/postpage">
          <p>Post Name: <%=onePost.picName%> </p>
        </a>
        <br>

        <img src="<%=onePost.picPath%>">
      </div>
    </div>


    <br>
    <%});%>
      <%}%>

<hr>
